lib/docrb/.bundle/
lib/docrb/.yardoc
lib/docrb/_yardoc/
lib/docrb/coverage/
lib/docrb/doc/
lib/docrb/pkg/
lib/docrb/spec/reports/
lib/docrb/tmp/
lib/docrb/.rspec_status
lib/docrb/.byebug_history

lib/docrb-react/node_modules
lib/docrb-react/.pnp
lib/docrb-react/.pnp.js
lib/docrb-react/coverage
lib/docrb-react/.next/
lib/docrb-react/out/
lib/docrb-react/build
lib/docrb-react/npm-debug.log*
lib/docrb-react/yarn-debug.log*
lib/docrb-react/yarn-error.log*
lib/docrb-react/.env.local
lib/docrb-react/.env.development.local
lib/docrb-react/.env.test.local
lib/docrb-react/.env.production.local
lib/docrb-react/.vercel
lib/docrb-react/.docrb
lib/docrb-react/.idea

.DS_Store
*.pem
