<% div("documentation-block-base", id:) do %>
    <% if doc.nil? || doc.empty? || doc[:value].empty? %>
        <div class="faded">(No documentation available)</div>
    <% else %>
        <% doc[:value].each do |block| %>
            <%= documentation_comment(doc: block) %>
        <% end %>
    <% end %>
<% end %>
