<% div("text-block-base#{inline ? " inline" : ""}", id:) do %>
    <% if contents.is_a? String %>
        <div class="html"><%= Renderer::Markdown.inline(contents) %></div>
    <% else %>
        <div class="html">
            <% contents.each do |block| %>
                <% if block[:type] == :span %>
                    <span class="span"><%= Renderer::Markdown.inline(block[:value]) %></span>
                <% elsif block[:type] == :neutral_identifier %>
                    <code><%= block[:value] %></code>
                <% end %>
            <% end %>
        </div>
    <% end %>
<% end %>
